[defaults]
inventory = ./inventory.ini
roles_path = ./roles:../shared-roles
remote_user = tomer
private_key_file = ~/.ssh/proxmox
ask_pass = false
vault_password_file = ~/.vault_password
interpreter_python = auto_silent ; Mute python interpreter warning

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = true

